<div id="demo">
  <p>{{message}}</p>
  <input v-model="message">
</div>

<button type="button" class="btn btn-default">Hello Bootstrap</button>

<script type="text/javascript">
  var demo = new Vue({
    el: '#demo',
    data: {
      message: 'Hello Vue.js!'
    }
  })
</script>
